.card {
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}

.ngt-50 {
  color: #a82100 !important;
}
.pst-50 {
  color: #006342 !important;
}
.np-150 {
  color: #172b4d !important;
}
.np-120 {
  color: #42526e !important;
}
.np-110 {
  color: #6d798f !important;
}
